@tailwind base;
@tailwind components;
@tailwind utilities;

.nn{
  grid-template-columns: 100px auto;
}
.thr::-webkit-scrollbar {
  display: none;
}

.tran{
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}